@page
@model ContosoUniversityWithRazor.Pages.Instructors.InstructorCoursesPageModel

@{
    Layout = "_Delete";
    ViewData["Page"] = "Instructors";
    ViewData["ItemId"] = Model.Instructor.ID;
}

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Instructor.HireDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Instructor.HireDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Instructor.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Instructor.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Instructor.FirstMidName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Instructor.FirstMidName)
        </dd>
    </dl>
</div>

@section DeleteBinding
{
    <input type="hidden" asp-for="Instructor.ID" />
}

@section ErrorMessage
{}
